@import url("https://fonts.googleapis.com/css2?family=Lato&family=Space+Mono:wght@400;700&display=swap");

body {
  background-color: black;
  font-family: "Lato";
}
.main-link {
  background-color: rgb(29, 185, 84);
  border-radius: 30px;
  border: none;
  width: 30%;
  color: white;
  height: 4rem;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

pre {
  background-color: gray;
  border-radius: 8px;
  width: 92%;
  min-height: 5rem;
  padding: 4%;
  height: fit-content;
  white-space: nowrap;
  overflow: scroll;
}
.token-line {
  display: flex;
  font-size: 0.9rem;
}
.token-line .token {
  margin-right: 5px;
}
.token-line .token.function {
  color: rgb(130, 170, 255);
}

.token-line .token.string {
  color: rgb(173, 219, 103);
}
code {
  font-size: 10px;
  width: 100%;
}

a {
  color: inherit;
}

p {
  font-size: 0.8rem;
  text-align: left;
}

.background.reduced {
  width: 30%;
}

label {
  font-size: 1rem;
  width: 100%;
  text-align: left;
  margin-bottom: 0.7rem;
}

.detail {
  background-color: gray;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  padding-left: 2%;
  padding-right: 2%;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 2rem;
  font-size: 10px;
  font-family: "Space Mono";
}

.background.docs {
  width: 40%;
  text-align: left;
}

.background.docs a:hover {
  color: rgb(29, 185, 84);
}

.background.docs header {
  width: 100%;
}

.main-text h2 {
  letter-spacing: 7px;
  font-size: 3rem;
  white-space: nowrap;
}

.error {
  font-size: 1rem;
}

div {
  color: white;
}

.background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: auto;
  color: white;
}

img {
  height: 5rem;
}

@media screen and (max-width: 700px) {
  .background.docs {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .main-link {
    width: 70%;
  }

  .background.docs {
    width: 90%;
  }

  .main-text h2 {
    font-size: 2rem;
  }
}
