<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>Spotify Assistant</title>
  <link href="../static/css/main.css" th:href="@{/css/main.css}" type="text/css" rel="stylesheet" />
</head>
<body>
  <div class="background docs">
    <header>
      <h2>
        SPOTIFY ASSISTANT
      </h2>
    </header>
    <header>
      <h3>GETTING STARTED</h3>
    </header>
    <article>
      <h4>1. AUTHORIZATION</h4>
      <p>Spotify assistant needs to be granted permissions to perform it's actions</p>
      <p>Simply navigate to the <a href="/auth/spotify-auth">authentication url</a></p>
      <p>You'll be shown all the actions the bot is allowed to perform on your spotify account. Give it a read and click
        agree.</a></p>
      <p>You will be presented with the following credentials: clientId, publicKey, privatekey. Note, your public and
        private Keys are hashed, you can only view them after sign up</p>
    </article>
    <article>
      <h4>2. TRACK SUGGESTIONS</h4>
      <p>Once sign up is completed, a playlist is created for you titled "S:A Suggestions"</p>
      <p>This playlist will be updated every week by scanning your spotify listening activity and suggesting tracks
        using last fm's API</p>
    </article>
    <article>
      <h4>3. TOP ARTISTS AND TRACKS</h4>
      <p>To pull listening statistics from, you'll need a GET request to the top-items endpoint with your public key as
        an authorization header</p>
      <pre>
        <code>
          <div class="token-line">
            <span class="token function">curl</span>
            <span class="token">{{baseUrl}}/{{clientId}}/top-items?</span>
          </div>
          <div class="token-line">
            <span class="token">-H</span>
            <span class="token string">"X-API-KEY: {{publicKey}}"</span>
          </div>
          <div class="token-line">
            <span class="token">-H</span>
            <span class="token string">"Content-Type: application/json"</span>
          </div>
          <div class="token-line">
            <span class="token">-X</span>
            <span class="token string">GET</span>
          </div>
        </code>
      </pre>
      <table class="param-table">
        <tr>
          <th>Parameters</th>
        </tr>
        <tr>
          <th>itemType</th>
          <th>type of item to be retrieved = ["tracks", "artists"]</th>
        </tr>
        <tr>
          <th>timeRange</th>
          <th>time range to retrieve items from ["medium_term", "short_term", "long_term"]</th>
        </tr>
        <tr>
          <th>limit <span class="optional-tag">optional</span></th>
          <th>number of items to retrieve, maximum is 50 and minimum is 1</th>
        </tr>
        <tr>
          <th>offset <span class="optional-tag">optional</span></th>
          <th>number of items to skip</th>
        </tr>
      </table>
    </article>
    <article>
      <h4>4. SPOTIFY PROFILE</h4>
      <p>To pull your spotify profile from the API, send a GET request to the profile endpoint</p>
      <pre>
        <code>
          <div class="token-line">
            <span class="token function">curl</span>
            <span class="token">{{baseUrl}}/{{clientId}}/profile</span>
          </div>
          <div class="token-line">
            <span class="token">-H</span>
            <span class="token string">"X-API-KEY: {{publicKey}}"</span>
          </div>
          <div class="token-line">
            <span class="token">-H</span>
            <span class="token string">"Content-Type: application/json"</span>
          </div>
          <div class="token-line">
            <span class="token">-X</span>
            <span class="token string">GET</span>
          </div>
        </code>
      </pre>
    </article>
  </div>
</body>
</html>